<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        <h2><%= @product.title %></h2>
      </p>
      <p>
       <% @product.images.each do |image| %>
         <%= image_tag image ,size: "450x420"%> 
       <% end %>
      </p>
      <p>
        <h3><span>$</span><%= @product.price %></h3>
      </p>
      <p>
        <%= @product.description %>
      </p>
      <%= link_to 'Back', products_path, :class => 'btn btn-primary' %>
    </div>
    </div>
  </div>
</div>
<td>
  
